blinker==1.8.2
click==8.1.7
elementpath==4.4.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
fuzzywuzzy==0.18.0
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
Levenshtein==0.25.1
MarkupSafe==2.1.5
playwright==1.45.0
pyee==11.1.0
python-Levenshtein==0.25.1
rapidfuzz==3.9.4
SQLAlchemy==2.0.31
typing_extensions==4.12.2
Werkzeug==3.0.3
flask-Login==0.6.3
flask_wtf==1.2.1
email_validator==2.2.0
