<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">


</head>
<body>
    <div class="item-details">
        <h2>Item Details</h2>
        <div class="field">
            <label>DT Entrega:</label>
            <span>{{ item.dt_entrega }}</span>
        </div>
        <div class="field">
            <label>ID Item Ped:</label>
            <span>{{ item.id_item_ped }}</span>
        </div>
        <div class="field">
            <label>Masc Item ID:</label>
            <span>{{ item.masc_item_id }}</span>
        </div>
        <div class="field">
            <label>Ites ID:</label>
            <span>{{ item.ites_id }}</span>
        </div>
        <div class="field">
            <label>Empr ID:</label>
            <span>{{ item.empr_id }}</span>
        </div>
        <div class="field">
            <label>Itempr ID:</label>
            <span>{{ item.itempr_id }}</span>
        </div>
        <div class="field">
            <label>Descrição Item:</label>
            <span>{{ item.descricao_item }}</span>
        </div>
        <div class="field">
            <label>Cod Item:</label>
            <span>{{ item.cod_item }}</span>
        </div>
        <div class="field">
            <label>Descrição:</label>
            <span>{{ item.descricao }}</span>
        </div>
        <div class="field">
            <label>Cod Pedc:</label>
            <span>{{ item.cod_pedc }}</span>
        </div>
        <div class="field">
            <label>DT Emis:</label>
            <span>{{ item.dt_emis }}</span>
        </div>
        <div class="field">
            <label>Moeped ID:</label>
            <span>{{ item.moeped_id }}</span>
        </div>
        <div class="field">
            <label>Qtde Pedida:</label>
            <span>{{ item.qtde_pedida }}</span>
        </div>
        <div class="field">
            <label>Qtde Entregue:</label>
            <span>{{ item.qtde_entregue }}</span>
        </div>
        <div class="field">
            <label>Qtde Canc:</label>
            <span>{{ item.qtde_canc }}</span>
        </div>
        <div class="field">
            <label>Cod Grp Ite:</label>
            <span>{{ item.cod_grp_ite }}</span>
        </div>
        <div class="field">
            <label>Cod For:</label>
            <span>{{ item.cod_for }}</span>
        </div>
        <div class="field">
            <label>Tot Bruto:</label>
            <span>{{ item.tot_bruto }}</span>
        </div>
        <div class="field">
            <label>Vlr Entregue:</label>
            <span>{{ item.vlr_entregue }}</span>
        </div>
        <div class="field">
            <label>Tfd I ID:</label>
            <span>{{ item.tfd_i_id }}</span>
        </div>
        <div class="field">
            <label>Cf Converte Moeda:</label>
            <span>{{ item.cf_converte_moeda }}</span>
        </div>
        <div class="field">
            <label>Cp Vlr Entregue:</label>
            <span>{{ item.cp_vlr_entregue }}</span>
        </div>
        <div class="field">
            <label>Cp Tot Bruto:</label>
            <span>{{ item.cp_tot_bruto }}</span>
        </div>
        <div class="field">
            <label>Cf Vlr Saldo:</label>
            <span>{{ item.cf_vlr_saldo }}</span>
        </div>
        <div class="field">
            <label>Cf Qtde Saldo:</label>
            <span>{{ item.cf_qtde_saldo }}</span>
        </div>
        <div class="field">
            <label>Cs Tot Bruto:</label>
            <span>{{ item.cs_tot_bruto }}</span>
        </div>
        <div class="field">
            <label>Cs Valor Entregue:</label>
            <span>{{ item.cs_valor_entregue }}</span>
        </div>
        <div class="field">
            <label>Cf Retorna Máscara:</label>
            <span>{{ item.cf_retorna_mascara }}</span>
        </div>
        <div class="field">
            <label>Cs Conta Desenhos:</label>
            <span>{{ item.cs_conta_desenhos }}</span>
        </div>
        <div class="field">
            <label>Cs Conta Pedidos:</label>
            <span>{{ item.cs_conta_pedidos }}</span>
        </div>
        <div class="field">
            <label>Cf Retorna Código:</label>
            <span>{{ item.cf_retorna_codigo }}</span>
        </div>
        <!-- Add other fields as needed -->
    </div>
</body>
</html>
