<!DOCTYPE html>
<html>
<head>
    <title>Search Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="/import" class="import-button">Import Data</a>

    <h1>Search Items</h1>

    <form method="post" action="/search">
        <input type="text" name="query" placeholder="Search..." value="{{ query }}">
        <label><input type="checkbox" name="misspelling" {% if misspelling %}checked{% endif %}> Busca com erro de digitação</label>
        <br>
        <label><input type="checkbox" name="filter_by" value="descricao_item" {% if 'descricao_item' in filter_by %}checked{% endif %}> Descrição do ped.</label>
        <label><input type="checkbox" name="filter_by" value="cod_pedc" {% if 'cod_pedc' in filter_by %}checked{% endif %}> COD_PEDC</label>
        <label><input type="checkbox" name="filter_by" value="descricao" {% if 'descricao' in filter_by %}checked{% endif %}> Fornecedor</label>
        <label><input type="checkbox" name="filter_by" value="cod_item" {% if 'cod_item' in filter_by %}checked{% endif %}> COD_ITEM</label>
        <label><input type="checkbox" name="filter_by" value="id_item_ped" {% if 'id_item_ped' in filter_by %}checked{% endif %}> ID_ITEM_PED</label>
        <input type="submit" value="Search" class="styled-button">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="text-align: center;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>COD PED</th>
                <th>EMPR_ID</th>
                <th>ID ITEM</th>
                <th>ITEM Description</th>
                <th>Fornecedor</th>
                <th>COD ITEM</th>
                <th>QTD</th>
                <th>VL</th>
                <th>VL T</th>
                <th>ENTREG</th>
                <th>Opçoẽs</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(last_cod_cot='first') %}
            {% for item in items %}
            {% if ns.last_cod_cot != '' and ns.last_cod_cot != item.cod_pedc or ns.last_cod_cot == 'first' %}
            <tr>
                <td colspan="12" style="background-color: rgba(29, 206, 59, 0.541); text-align: center;">PEDIDO
                    {{item.cod_pedc }}</td> 
            </tr>
            {% endif %}
            <tr class="item-row">
                <td>{{ item.dt_emis }}</td>
                <td>{{ item.cod_pedc }}</td>
                <td>{{ item.empr_id }}</td>
                <td>{{ item.id_item_ped }}</td>
                <td>{{ item.descricao_item }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.cod_item }}</td>
                <td>{{ item.qtde_pedida }}</td>
                <td>
                    {% set tot_bruto_float = item.tot_bruto.replace(',', '.')|float %}
                    {% set qtde_pedida_float = item.qtde_pedida.replace(',', '.')|float %}
                    {% if qtde_pedida_float > 0 %}
                    R$ {{ '%.2f'|format(tot_bruto_float / qtde_pedida_float) }}
                    {% else %}
                    Erro
                    {% endif %}
                </td>
                <td>R$ {{ item.tot_bruto }}</td>
                <td>{{ item.qtde_entregue }}</td>
                <td><a href="{{ url_for('item_detail', item_id=item.id) }}"> Mais... </a></td>
               <!-- <td><a href="#" onclick="runPlaywright('{{ item.descricao }}', '{{ item.dt_emis }}')">Run Playwright</a></td>-->

                {% set ns.last_cod_cot = item.cod_pedc %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal for item details -->
    <div id="item-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Item Details</h2>
            <p id="item-details"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
