<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Compras</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    <style>
     
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/logout" class="logout-button">Sair</a>
            <h1>Busca de Compras - Última Atualização em {{ last_update_date }}   <a href="/import" class="link"> - Atualizar dados </a></h1>
        </div>

        <form method="post" action="/search">
            <div class="search-container">
                <input type="text" name="query" placeholder="Buscar..." value="{{ query }}">
                <input type="submit" value="Search" class="styled-button">
            </div>

            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="filter_by" value="cod_item" {% if 'cod_item' in filter_by %}checked{% endif %}>
                    Cod. Item
                </label>
                <label>
                    <input type="checkbox" name="filter_by" value="descricao_item" {% if 'descricao_item' in filter_by %}checked{% endif %}>
                    Descrição do Item
                </label>
                <label>
                    <input type="checkbox" name="filter_by" value="cod_pedc" {% if 'cod_pedc' in filter_by %}checked{% endif %}>
                    Pedido de Compra
                </label>
                <label>
                    <input type="checkbox" name="filter_by" value="descricao" {% if 'descricao' in filter_by %}checked{% endif %}>
                    Fornecedor
                </label>
                <label>
                    <input type="checkbox" name="misspelling" id="misspelling-checkbox" {% if misspelling %}checked{% endif %}>
                                        Busca com erro de digitação
                </label>
            </div>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <table>
            <thead>
                <tr>
                    <th>Data</th>
            
                    <th>Cod. Item</th>
                    <th>Descrição do Item</th>
                    <th>Cod. for</th>
                    <th>Fornecedor</th>
                    <th>Qnd.</th>
                    <th>Vl.</th>
                    <th>Vl. t.</th>
                    <th>Qnd. e.</th>
                    <th>Vl. e.</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% set ns = namespace(last_cod_cot='first', total_bruto=0, item_count=0) %}
                {% for item in items %}
                {% if ns.last_cod_cot != '' and ns.last_cod_cot != item.cod_pedc or ns.last_cod_cot == 'first' %}
                {% if ns.item_count > 1 %}
                <tr>
                    {% if 'cod_item' in filter_by and query != '' or 'descricao_item' in filter_by and query != '' %}
                    <td colspan=100% style="background-color: rgba(250, 196, 196, 0.541); text-align: right;">Total Bruto: R$ {{ '%.2f'|format(ns.total_bruto) }}?</td>
                    {% else %}
                    <td colspan=100% style="background-color: rgba(212, 212, 212, 0.541); text-align: right;">Total Bruto: R$ {{ '%.2f'|format(ns.total_bruto) }}</td>
                    {% endif %}
                </tr>
                {% endif %}
                <tr>
                    <td colspan=100% style="background-color: rgba(135, 160, 240, 0.541); text-align: center;">PEDIDO {{item.cod_pedc }}</td>
                </tr>
                {% set ns.total_bruto = 0 %}
                {% set ns.item_count = 0 %}
                {% set ns.last_cod_cot = item.cod_pedc %}
                {% endif %}
                <tr class="item-row">
                    <td>{{ item.dt_emis }}</td>
           
                    <td>{{ item.cod_item }}</td>
                    <td>{{ item.descricao_item }}</td>
                
                    <td>{{ item.cod_for }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.qtde_pedida }}</td>
                    <td>
                        {% set tot_bruto_float = item.tot_bruto.replace(',', '.')|float %}
                        {% set qtde_pedida_float = item.qtde_pedida.replace(',', '.')|float %}
                        {% if qtde_pedida_float > 0 %}
                        R$ {{ '%.2f'|format(tot_bruto_float / qtde_pedida_float) }}
                        {% else %}
                        Erro
                        {% endif %}
                    </td>
                    <td>R$ {{ item.tot_bruto }}</td>
                    <td>{{ item.qtde_entregue }}</td>
                    <td>R$ {{ item.vlr_entregue }}</td>

                    <td><a href="{{ url_for('main.item_detail', item_id=item.id) }}">Mais...</a></td>
                    {% set ns.total_bruto = ns.total_bruto + tot_bruto_float %}
                    {% set ns.item_count = ns.item_count + 1 %}
                </tr>
                {% endfor %}
                {% if ns.item_count > 1 %}
                <tr>
                    {% if 'cod_item' in filter_by and query != '' or 'descricao_item' in filter_by and query != "" %}
                    <td colspan=100% style="background-color: rgba(255, 159, 159, 0.541); text-align: right;">?Total Bruto: R$ {{ '%.2f'|format(ns.total_bruto) }}?</td>
                    {% else %}
                    <td colspan=100% style="background-color: rgba(212, 212, 212, 0.541); text-align: right;">Total Bruto: R$ {{ '%.2f'|format(ns.total_bruto) }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            </tbody>
        </table>
        
    
        <!-- Modal for item details -->
        <div id="item-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Item Details</h2>
                <p id="item-details"></p>
            </div>
        </div>
    
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
    </html>